*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.MainPage{
    /* height: 100vh; */
    width: 100vw;
    background-color: rgb(238, 236, 236);
    display: flex;
    justify-content: center;
    background: url("https://res.cloudinary.com/detnxqkmq/image/upload/v1618764617/image0_brr5wo.jpg") no-repeat center center/cover;
    align-items: center;
}

.MainPage_sub{
    width: 100vw;
    /* height: 90vh; */
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2px 3px 17px -6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 2rem;
    overflow: hidden;
}

.container{
    display: flex;
    width: 20rem;
    justify-content: space-between;
    margin-top: 5rem;
}

.container div{
    display: flex;
    flex-direction: column;
}

.footer button{
    padding: 8px 10px;
    background-color: rgb(11, 145, 228);
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.leftSide button, .rightSide button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
    z-index: 1000;
}

svg{
    position: absolute !important;
    width: 100% !important;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.rightbtn, .leftbtn{
    margin-top: 2rem !important;
}